div {
	margin: auto;
}

.rectangle {
	position: relative;
	border: 2px solid black;
	width: 300px;
	height: 550px;
}

.circle {
	margin-top: 20px; 
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 2px solid black;
}

.circle1 {
		
	background-color: red;
}

.circle2 {

	background-color: yellow;
}

.circle3 {
	background-color: green;
}